body {
    padding: 40px;
}

.gpx-map {
    width: 100%;
    height: 320px;
}

#weeknotes {
    overflow: scroll;
}

#weeknote-title {
    border-top: 4px solid black;
}

div.code {
    white-space: pre !important;
}

#rss-feed {
    display: none;
    max-height: calc(100vh - 80px);
    overflow: scroll;
}

#rss-feed .description {
    color: inherit;
}

@media (min-width:1200px) {
    #rss-feed {
        display: block;
    }
}